access-list 1 permit REGION1 NMS IP
access-list 1 permit REGION2 NMS IP
access-list 1 permit REGION3 NMS IP
access-list 1 permit REGION5 NMS IP
access-list 1 permit REGION6 NMS IP
access-list 1 permit REGION7 NMS IP
access-list 1 permit REGION0 NMS IP
access-list 1 permit JUMPBOX IP
access-list 1 permit HQ NOSC/NSE SUBNETS
access-list 1 deny any log